.custom-collapse .ant-collapse-item {
  width: 100% !important;
}
/* Home.css */

/* Remove borders for the main Collapse component */
.ant-collapse {
  border: none;
}

/* Remove borders for the nested Collapse components */
.ant-collapse-item,
.ant-collapse-header {
  border: none;
  font-weight: 600;
}

Link {
  color: black;
}
